:root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Netflix utilise un fond très sombre */
  color-scheme: dark;
  color: #fff;
  background-color: #141414;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #141414;
}

a {
  font-weight: 500;
  color: #e50914;
  text-decoration: none;
}

a:hover {
  color: #f6121d;
}
